.app, .display, .button_panel {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
}

.display {
  background-color: #b3b3b3;
  color: wheat;
  font-weight: bold;
  height: 100px;
  padding: 0 10px;
  text-align: right;
}

.app {
  margin-top: 30px;
}